[Unit]
Description=AX25 ID Beacon %I

[Service]
ExecStart=/usr/sbin/beacon -c ${CALLSIGN} %i ${BEACON_MSG}
TimeoutStopSec=5
Restart=always
RestartSec=5
[Install]
WantedBy=multi-user.target
