[Unit]
Description=AX.25 stations heard daemon
After=network.target
StartLimitInterval=0

[Service]
Type=simple
Restart=always
RestartSec=5
ExecStart=/usr/sbin/mheardd

[Install]
WantedBy=multi-user.target
